<title><%= ENV.fetch('METADATA_TITLE') %></title>
<meta name="description" content="<%= ENV.fetch('METADATA_DESCRIPTION') %>">
<meta name="keywords" content="<%= ENV.fetch('METADATA_KEYWORDS') %>">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
